{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %} Dashboad {% endblock %}

{% block content %}
<div class="content">
<div class="container">
            <div class="row">
                <h1> Tableau de bord </h1>
            </div>
            <div class="row mt-3">
                <div class="col-6 alert-success">
                    <span class="display-3"> {{ countAllUsers['value'] }} </span> Utilisateurs
                </div>
                <div class="col-6 alert-dark">
                    <span class="display-3"> {{ countAllCategorie['value'] }} </span> Categories
                </div>
            </div>


  <div class="row mt-5">
                <div class="col-12">
                    <h4> Liste des Categories</h4> <span class="display-3"> {{ countAllCategorie['value'] }} </span> 

                    <ul class="list-group">
                        {% for categorie in categories %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="display-6">
                                <i class="fa fa-podcast mx-3"></i>
                     {{categorie.nom}}
                            </span>
                            
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                 
            </div>
        </div>
    </div>
    {% endblock content %}




        
            
