{% extends 'base.html.twig' %}

{% block title %}Favoris index{% endblock %}

{% block body %}
   <div class="col-12">
                    <h4> Liste des favoris</h4> </div>
                    <hr>
 <ul class="list-group">
 
                        {% for titre in favori %}

                        
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="display-6">
                                <i class="fa fa-podcast mx-3"></i>
                  <a href="/titre/{{titre.id}}" > {{titre.artiste}} - {{titre.nom}} |  {{titre.duree}} </a>
                            </span>
                            
                        </li>
                        {% endfor %}
                    </ul>
                </div>
{% endblock %}
